<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.codetek.bloodapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BloodApp"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".SubViews.CampaignRecord"
            android:exported="false">
        </activity>
        <activity
            android:name=".Views.ManageCampaign"
            android:exported="false"></activity>
        <activity
            android:name=".Views.Campaigns"
            android:exported="false"></activity>
        <activity
            android:name=".SubViews.RequestBloodRecord"
            android:exported="false" />
        <activity
            android:name=".Views.RequestBloodList"
            android:exported="false" />
        <activity
            android:name=".Views.BloodStock"
            android:exported="false" />
        <activity
            android:name=".Views.ManageHospitals"
            android:exported="false" />
        <activity
            android:name=".Views.Hospitals"
            android:exported="false" />
        <activity
            android:name=".SubViews.StockRecord"
            android:exported="false" />
        <activity
            android:name=".Views.Dashboard"
            android:exported="false" />
        <activity
            android:name=".Views.RequestBlood"
            android:exported="false" />
        <activity
            android:name=".Views.Register"
            android:exported="false" />
        <activity
            android:name=".Views.Login"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>